In [1]:
tel = {"Peter" : 123, "Paul" : 456, "Mary" : 789}
tel["Peter"] = 234
print(tel)

{'Peter': 234, 'Paul': 456, 'Mary': 789}

In [3]:
studs = {123 : "Harry",
         234 : "Hermione",
         345 : "Ron"}
a = studs[123]

In [4]:
a = 0
i = 1
while i <= 10:
    i += 1
    a += i
print(a, i)

65 11

In [5]:
"Yesterday, Let it be, Help, Something".split(",")

['Yesterday', ' Let it be', ' Help', ' Something']

In [10]:
def f5():
    return 3
    print(4)

print(f5() + f5())

6

In [11]:
def f1(x = 2, y = 3):
    return x * y

print(f1(), f1(3, 4), f1(8), f1(y = 5))

6 12 24 10

In [12]:
def f3(x):
    x += 10
    print(x)

x = 3
f3(x)
print(x + 1)

13
4

In [13]:
def f1(i):
    return i ** 2

def f2(j):
    return (f1(j + 1))

print(f2(3))

16